#footer{
  margin-top: 140px;
  color: #ffffff;
  background-color: #777777;
  overflow: auto;
  position: relative;
}
.footer{
  font-size: 14px;
  padding-top: 50px;
  height: 220px;
  width: 980px;
  margin: 0 auto;
  flex: 0 0 auto;
}
.footer-left {
  text-align: left;
  float: left;
  margin-left: 10px;
}
.footer-left a{
  color:#ffffff;
  text-decoration: none;
}
.footer-center{
  width: fit-content;
  float: left;
  margin-left: 50px;
  display: block;
}
.footer-center .nav{
  margin-left:100px;
  list-style-type: none;
}
.nav a{
  color:#ffffff;
}
.footer-logo {
  height: 33px;
  float: right;
  display: flex;
  flex-direction: row;
  position: relative;
}
.footer-logo-icon {
  position: absolute;
  left: -35px;
  top: 5px;
}
.footer-logo a {
  color: #ffffff;
}
.footer-logo p {
  margin-left:10px;
  padding-left: 5px;
  font-family: "PT_Sans", sans-serif;
  font-size: 14px;
  line-height: 22px;
}