.header{
  width: 100%;
  background-color: #dcdcdc;
  height: 230px;
}
.container{
  width: 960px;
  margin: 0 auto;
}
.wrapper{
}
.clearfix::after {
  content: "";
  clear: both;
  display: table;
}
.clearfix {
  overflow: auto;
}
.block-logo h2 {
  font-size: 30px;
  display: inline-block;
  position: absolute;
  top: 70px;
  margin-left: 10px;
  color:#767676;
}
.block-logo img {
  position: relative;
  margin-top: 60px;
  float: left;
}
.block-logo span {
  font-size: 18px;
  margin-left: 10px;
  position: relative;
  top: 120px;
  color:#767676;
}
.block-phone span{
  font-size: 40px;
  color:#767676;
}
.block-phone a{
  font-family: 'Open Sans Condensed', sans-serif;
  font-size: 25px;
  border-bottom: 2px dashed #767676;
  color: #767676;
  font-weight: bold;
  text-decoration: none;
  line-height: 35px;
}
.block-phone {
  float: right;
  text-align: right;
  margin-top: 40px;
  line-height: 1px;
}
.block-phone span{
  font-family: 'Open Sans Condensed', sans-serif;
}
.menu {
  background-color: #777777;
  height: 80px;
  display: flex;
  justify-content: space-around;
  align-items: center;
}
.nav {
  list-style: none;
  display: flex;
  justify-content: center;
  flex-wrap: wrap;

}
.nav li {
  display: inline-block;
  border-left: 2px solid #ffffff;
  margin-left: 20px;
  padding-left: 10px;
}
.nav li:first-child {
  border: none;
  margin: 0;
  padding: 0;
}
.nav li:nth-child(6n) {
  border: none;
}
.nav li a {
  font-size: 30px;
  line-height: 30px;
  font-family: "PT_Sans", sans-serif;
  color: #ffffff;
  text-decoration: none;
}
.nav li a:hover {
  border-bottom: 1px solid #ffffff;
}
