.block-slider {
  height: 400px;
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  overflow: hidden;
}

@media screen and (max-width: 1248px) {
  .wrapper-big .wrapper main .block-slider {
    display: none;
  }
}
